{% extends 'base.html' %}

{% block title %}Регистрация | AlmatyBells{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-container">
        <h2>Создать аккаунт</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <div class="errors">{{ field.errors }}</div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn-submit">Зарегистрироваться</button>
        </form>
    </div>
</div>
{% endblock %}